
*{
    margin: 30px 30px 30px 30px;
    color: whitesmoke;
}
body{
    opacity: 0.8;
    background-image: linear-gradient(to right, rgba(255,0,145,0.5), rgba(0,0,255,0.5));
    background-repeat: initial;
    background-attachment: scroll;
    

}

#para1 {
  color: red;
  text-align: left;          
  font-size: xx-large;
  border-style: inset;
  border-color: blue;
  border-radius: 9px;
  margin: auto;
  border-width: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* this is for para2 */

#para2 {
    color: brown;
    text-align: right;
    font-size: xx-large;
    border: 3px outset black;
    background-color: aqua;
    
}

.center{
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.green{
    color: green;
}
h1{
    font-family:verdana;
    font-size: xx-large;
    text-align: right;
    margin: 25px 0 0 0;
}

